body{
	margin: 0;
	background-color: #625A5A;
}

/* Fonts */

.fontRaleway{
	font-family: 'Raleway', sans-serif;
}


/* Navbar */
.navbarColor{
	background-color: #333333;
}

.navbarColorWhite{
	color: #FFFFFF;
}

navbarColorWhite:hover, .active{
	color: #FFFFFF!important;
}

.navbarLoginPositionIcons{
	float: right;
}





/* Form Login e Registro*/

.formIconWhite{
	color: #FFFFFF;
}

.formTextWhite{
	color: #E5E5E5;
}

.formPlaceholderCenter{
	text-align: center;
}


.formButtonsFormat{
	text-align: right;
}

.formSpace{
	margin-top: 30px;
}

.formSpaceVerify{
	margin-top: 20px;
}

.formFormatLogin{
	margin-top: 150px;
	width: 400px;
	background-color: #393939;
	padding: 30px;
	border-radius: 10px;
}

.formFormatRegister{
	margin-top: 80px;
	width: 400px;
	background-color: #393939;
	padding: 30px;
	border-radius: 10px;
}


/* Jumbotron */

.jumbotronStyle{
	color: white;
	background-color: #625A5A;
}

.jumbotronGray{
	color: #CFC7C7;
}



/* Media Object */

.mediaIconSize{
	height: 64px;
	width: 64px;
	color: #51eaea;
}

.mediaColorTitle{
	color: #FFFFFF;
}

.mediaColorText{
	color: #CFC7C7;
}



/* Panel Control */

.panelStyle{
	margin-top: 40px;
	background-color: #393939;
	color: #FFFFFF;
}

.panelContainerButtons{
	width: 500px;
}